@import "src/commons/styles/public.module.scss";

.discussion_list {
    @include card;
    padding: 4px 24px;
}

.label_list {
    @include card;
    padding: 20px 24px;
}

.search_discussion {
    margin-bottom: 12px;
}

/*
以下为博客列表的样式
*/
.article_inner {
    padding-bottom: 10px;
}

.article_content_title,
.article_content_summary {
    * a {
        color: $dark-primary;
        &:hover {
            color: $blue-primary;
        }
    }
}

.article_content_author_name {
    font-size: 12px;
    padding: 0 10px 0 4px;
    * {
        color: $font-color-light;
    }
}

.article_content_author_time {
    font-size: 12px;
    color: $font-color-lighter;
}

.article_content_badges {
    display: inline-block;
    padding-left: 2px;
    >span {
        color: $font-color-light;
        font-size: 13px;
        margin-right: 12px;
        cursor: pointer;

        &:hover {
            color: #595959;
        }

        span:first-child {
            margin-right: 2px;
        }

        >a {
            color: $font-color-light;

            &:hover {
                color: $blue-primary;
            }
        }
    }
}