$header-height: 64px;
$blue-primary: #2196F3;
.header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px 1px rgb(191 191 191 / 45%);
    z-index: 9999;
}

.header_wrapper {
    height: $header-height;
    padding: 0 50px;
}

.header_logo {
    height: $header-height;
    max-width: 25%;
    margin-right: 50px;
    float: left;
    line-height: $header-height;
    img {
        height: 35px;
        margin: auto;
    }
}

.header_tab_left,
.header_tab_right,
.header_tab_user {
    box-sizing: border-box;
    height: $header-height;
    max-width: 75%;
}

.header_tab_left {
    float: left;
}

.header_tab_right,
.header_tab_user {
    float: right;
}

.header_item {
    display: inline-block;
    min-width: $header-height;
    height: $header-height;
    padding: 0 12px;
    line-height: $header-height;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    a {
        height: $header-height;
        color: #212121;
    }
}

.header_item_active {
    position: relative;
    a {
        color: $blue-primary;
    }
    // 使用伪类添加下边框
    &::after {
        content: '';
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: 0;
        height: 2px;
        background: $blue-primary;
    }
}

.header_tab_user {
    box-sizing: border-box;
    width: 30px;
}