@import "src/commons/styles/public.module.scss";

.problem_list_content {
  @include card;
}

.difficulty_box {
  box-sizing: content-box;

  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 1px 10px;
  
  border-radius: 11px;
}