.register_title {
    margin: 10px 0 40px 0;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.submit_button {
    height: 36px;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
}