body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
  "San Francisco", "Helvetica Neue", "Noto Sans", 
  "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", 
  "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
