.container {
    width: 100%;
    height: 100%;
}

.login_form {
    width: 40%;
    background: white;
    min-width: 350px;
    max-width: 400px;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0 0 10px 1px hsl(0deg 0% 75% / 45%);
}

.login_title {
    margin: 10px 0 40px 0;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.login_input {
    height: 40px;
}

.submit_button {
    height: 36px;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
}